/*
 * Dynatrace Environment API
 *
 *  Documentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress.   If you miss a resource, consider using the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k) .  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * API version: 2.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dynatrace

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// DavisSecurityAdvisorApiService DavisSecurityAdvisorApi service
type DavisSecurityAdvisorApiService service

type ApiGetAdviceForSecurityProblemsRequest struct {
	ctx _context.Context
	ApiService *DavisSecurityAdvisorApiService
	managementZoneFilter *string
	nextPageKey *string
	pageSize *int64
}

func (r ApiGetAdviceForSecurityProblemsRequest) ManagementZoneFilter(managementZoneFilter string) ApiGetAdviceForSecurityProblemsRequest {
	r.managementZoneFilter = &managementZoneFilter
	return r
}
func (r ApiGetAdviceForSecurityProblemsRequest) NextPageKey(nextPageKey string) ApiGetAdviceForSecurityProblemsRequest {
	r.nextPageKey = &nextPageKey
	return r
}
func (r ApiGetAdviceForSecurityProblemsRequest) PageSize(pageSize int64) ApiGetAdviceForSecurityProblemsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetAdviceForSecurityProblemsRequest) Execute() (DavisSecurityAdviceList, *_nethttp.Response, error) {
	return r.ApiService.GetAdviceForSecurityProblemsExecute(r)
}

/*
 * GetAdviceForSecurityProblems Provides advice for security problems. | maturity=EARLY_ADOPTER
 * You can narrow down the output by providing the management zone and pagination. If you specify a management zone, only problems originating from that zone are included to the request.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetAdviceForSecurityProblemsRequest
 */
func (a *DavisSecurityAdvisorApiService) GetAdviceForSecurityProblems(ctx _context.Context) ApiGetAdviceForSecurityProblemsRequest {
	return ApiGetAdviceForSecurityProblemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return DavisSecurityAdviceList
 */
func (a *DavisSecurityAdvisorApiService) GetAdviceForSecurityProblemsExecute(r ApiGetAdviceForSecurityProblemsRequest) (DavisSecurityAdviceList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  DavisSecurityAdviceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DavisSecurityAdvisorApiService.GetAdviceForSecurityProblems")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/davis/securityAdvices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.managementZoneFilter != nil {
		localVarQueryParams.Add("managementZoneFilter", parameterToString(*r.managementZoneFilter, ""))
	}
	if r.nextPageKey != nil {
		localVarQueryParams.Add("nextPageKey", parameterToString(*r.nextPageKey, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
