/*
 * Dynatrace Environment API
 *
 * Documentation of the Dynatrace Environment API v1. To read about use cases and examples, refer to the [help page](https://dt-url.net/xc03k3c).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * API version: 1.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dynatrace

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// TopologySmartscapeProcessApiService TopologySmartscapeProcessApi service
type TopologySmartscapeProcessApiService service

type ApiGetProcessesRequest struct {
	ctx _context.Context
	ApiService *TopologySmartscapeProcessApiService
	startTimestamp *int64
	endTimestamp *int64
	relativeTime *string
	tag *[]string
	entity *[]string
	hostTag *[]string
	host *[]string
	actualMonitoringState *string
	expectedMonitoringState *string
	managementZone *int64
	includeDetails *bool
	pageSize *int32
	nextPageKey *string
}

func (r ApiGetProcessesRequest) StartTimestamp(startTimestamp int64) ApiGetProcessesRequest {
	r.startTimestamp = &startTimestamp
	return r
}
func (r ApiGetProcessesRequest) EndTimestamp(endTimestamp int64) ApiGetProcessesRequest {
	r.endTimestamp = &endTimestamp
	return r
}
func (r ApiGetProcessesRequest) RelativeTime(relativeTime string) ApiGetProcessesRequest {
	r.relativeTime = &relativeTime
	return r
}
func (r ApiGetProcessesRequest) Tag(tag []string) ApiGetProcessesRequest {
	r.tag = &tag
	return r
}
func (r ApiGetProcessesRequest) Entity(entity []string) ApiGetProcessesRequest {
	r.entity = &entity
	return r
}
func (r ApiGetProcessesRequest) HostTag(hostTag []string) ApiGetProcessesRequest {
	r.hostTag = &hostTag
	return r
}
func (r ApiGetProcessesRequest) Host(host []string) ApiGetProcessesRequest {
	r.host = &host
	return r
}
func (r ApiGetProcessesRequest) ActualMonitoringState(actualMonitoringState string) ApiGetProcessesRequest {
	r.actualMonitoringState = &actualMonitoringState
	return r
}
func (r ApiGetProcessesRequest) ExpectedMonitoringState(expectedMonitoringState string) ApiGetProcessesRequest {
	r.expectedMonitoringState = &expectedMonitoringState
	return r
}
func (r ApiGetProcessesRequest) ManagementZone(managementZone int64) ApiGetProcessesRequest {
	r.managementZone = &managementZone
	return r
}
func (r ApiGetProcessesRequest) IncludeDetails(includeDetails bool) ApiGetProcessesRequest {
	r.includeDetails = &includeDetails
	return r
}
func (r ApiGetProcessesRequest) PageSize(pageSize int32) ApiGetProcessesRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiGetProcessesRequest) NextPageKey(nextPageKey string) ApiGetProcessesRequest {
	r.nextPageKey = &nextPageKey
	return r
}

func (r ApiGetProcessesRequest) Execute() ([]ProcessGroupInstance, *_nethttp.Response, error) {
	return r.ApiService.GetProcessesExecute(r)
}

/*
 * GetProcesses Lists all monitored processes along with their parameters
 * You can narrow down the output by specifying filtering parameters for the request. 

You can additionally limit the output by using pagination: 
1. Specify the number of results per page in the **pageSize** query parameter. 
2. Then use the URL-encoded cursor from the **Next-Page-Key** response header in the **nextPageKey** query parameter to obtain subsequent pages.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetProcessesRequest
 */
func (a *TopologySmartscapeProcessApiService) GetProcesses(ctx _context.Context) ApiGetProcessesRequest {
	return ApiGetProcessesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return []ProcessGroupInstance
 */
func (a *TopologySmartscapeProcessApiService) GetProcessesExecute(r ApiGetProcessesRequest) ([]ProcessGroupInstance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []ProcessGroupInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopologySmartscapeProcessApiService.GetProcesses")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/entity/infrastructure/processes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.startTimestamp != nil {
		localVarQueryParams.Add("startTimestamp", parameterToString(*r.startTimestamp, ""))
	}
	if r.endTimestamp != nil {
		localVarQueryParams.Add("endTimestamp", parameterToString(*r.endTimestamp, ""))
	}
	if r.relativeTime != nil {
		localVarQueryParams.Add("relativeTime", parameterToString(*r.relativeTime, ""))
	}
	if r.tag != nil {
		t := *r.tag
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("tag", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("tag", parameterToString(t, "multi"))
		}
	}
	if r.entity != nil {
		t := *r.entity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("entity", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("entity", parameterToString(t, "multi"))
		}
	}
	if r.hostTag != nil {
		t := *r.hostTag
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("hostTag", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("hostTag", parameterToString(t, "multi"))
		}
	}
	if r.host != nil {
		t := *r.host
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("host", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("host", parameterToString(t, "multi"))
		}
	}
	if r.actualMonitoringState != nil {
		localVarQueryParams.Add("actualMonitoringState", parameterToString(*r.actualMonitoringState, ""))
	}
	if r.expectedMonitoringState != nil {
		localVarQueryParams.Add("expectedMonitoringState", parameterToString(*r.expectedMonitoringState, ""))
	}
	if r.managementZone != nil {
		localVarQueryParams.Add("managementZone", parameterToString(*r.managementZone, ""))
	}
	if r.includeDetails != nil {
		localVarQueryParams.Add("includeDetails", parameterToString(*r.includeDetails, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.nextPageKey != nil {
		localVarQueryParams.Add("nextPageKey", parameterToString(*r.nextPageKey, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSingleProcessRequest struct {
	ctx _context.Context
	ApiService *TopologySmartscapeProcessApiService
	meIdentifier string
}


func (r ApiGetSingleProcessRequest) Execute() (ProcessGroupInstance, *_nethttp.Response, error) {
	return r.ApiService.GetSingleProcessExecute(r)
}

/*
 * GetSingleProcess List properties of the specified process
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param meIdentifier The Dynatrace entity ID of the required process.
 * @return ApiGetSingleProcessRequest
 */
func (a *TopologySmartscapeProcessApiService) GetSingleProcess(ctx _context.Context, meIdentifier string) ApiGetSingleProcessRequest {
	return ApiGetSingleProcessRequest{
		ApiService: a,
		ctx: ctx,
		meIdentifier: meIdentifier,
	}
}

/*
 * Execute executes the request
 * @return ProcessGroupInstance
 */
func (a *TopologySmartscapeProcessApiService) GetSingleProcessExecute(r ApiGetSingleProcessRequest) (ProcessGroupInstance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ProcessGroupInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopologySmartscapeProcessApiService.GetSingleProcess")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/entity/infrastructure/processes/{meIdentifier}"
	localVarPath = strings.Replace(localVarPath, "{"+"meIdentifier"+"}", _neturl.PathEscape(parameterToString(r.meIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
