openapi: 3.0.1
info:
  description: |-
    Documentation of the Dynatrace Configuration API. Refer to the [help page](https://www.dynatrace.com/support/help/shortlink/config-api) to read about use-cases and examples.

    Notes about compatibility:
    * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.
    * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
  title: Dynatrace Configuration API
  version: "1.0"
servers:
- url: https://nph08633.live.dynatrace.com/api/config/v1
tags:
- description: Manage application detection rules
  name: Application detection rules
- description: Manage AWS credentials and monitoring options
  name: AWS credentials configuration
- description: Manage Azure app-level credentials and monitoring options
  name: Azure credentials configuration
- description: Manage web applications
  name: Web application configuration
- description: Manage request attributes
  name: Service - Request attributes
- description: Manage global data privacy and security settings
  name: Data privacy and security
- description: Manage anomaly detection configuration for hosts
  name: Anomaly detection - Hosts
- description: Manage anomaly detection configuration for services
  name: Anomaly detection - Services
- description: Manage anomaly detection configuration for database services
  name: Anomaly detection - Database services
- description: Manage anomaly detection configuration for applications
  name: Anomaly detection - Applications
- description: Manage anomaly detection configuration for disk events
  name: Anomaly detection - Disk events
- description: Manage anomaly detection configuration for AWS
  name: Anomaly detection - AWS
- description: Manage anomaly detection configuration for VMware
  name: Anomaly detection - VMware
- description: Manage anomaly detection configuration for metric events
  name: Anomaly detection - Metric events
- description: Manage custom services
  name: Service - Custom services
- description: Manage request naming rules
  name: Service - Request naming
- description: Manage automatically applied tags
  name: Automatically applied tags
- description: Manage management zones
  name: Management zones
- description: Manage maintenance windows
  name: Maintenance windows
- description: Manage IBM MQ tracing settings
  name: Service - IBM MQ tracing
- description: Manage Cloud Foundry foundation credentials
  name: Cloud Foundry credentials configuration
- description: Manage metric subscriptions for services
  name: Calculated metrics - Services
- description: Manage metric subscriptions for web applications
  name: Calculated metrics - Web applications
- description: Manage metric subscriptions for synthetic monitors
  name: Calculated metrics - Synthetic
- description: Manage metric subscriptions for mobile & custom applications
  name: Calculated metrics - Mobile & custom applications
- description: Manage metric subscriptions for log monitoring
  name: Calculated metrics - Log monitoring
- description: Manage full web service detection rules
  name: Service - Detection full web service
- description: Manage full web request service detection rules
  name: Service - Detection full web request
- description: Manage opaque and external web request service detection rules
  name: Service - Detection opaque and external web request
- description: Manage reports
  name: Reports
- description: Manage dashboards
  name: Dashboards
- description: Manage Kubernetes cluster credentials
  name: Kubernetes credentials configuration
- description: Manage plugins and their configurations
  name: Plugins
- description: Manage extensions and their configurations
  name: Extensions
- description: Manage frequent issue detection configuration
  name: Frequent Issue Detection
- description: Manage notifications
  name: Notifications
- description: Manage remote Dynatrace environments
  name: Remote environments
- description: Manage alerting profiles
  name: Alerting Profiles
- description: Manage conditional naming rules
  name: Conditional Naming
- description: Manage credentials for Synthetic monitors
  name: Credential vault
paths:
  /alertingProfiles/{id}:
    delete:
      description: The default alerting profile cannot be deleted.
      operationId: deleteAlertingProfile
      parameters:
      - description: The ID of the alerting profile to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Success. The alerting profile has been deleted. Response doesn't
            have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified alerting profile | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
    get:
      operationId: getAlertingProfile
      parameters:
      - description: The ID of the required alerting profile.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AlertingProfile'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the properties of the specified alerting profile | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
    put:
      description: If an alerting profile with the specified ID doesn't exist, a new
        one is created.
      operationId: createOrUpdateAlertingProfile
      parameters:
      - description: The ID of the alerting profile to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AlertingProfile'
        description: The JSON body of the request. Contains updated parameters of
          the alerting profile.
      responses:
        "204":
          description: Success. The alerting profile has been updated. Response doesn't
            have a body.
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new alerting profile has been created. The response
            contains the ID of the new alerting profile.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing alerting profile | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /alertingProfiles:
    get:
      operationId: getAlertingProfiles
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all alerting profiles available in your environment | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
    post:
      description: The body must not provide an ID. An ID is assigned automatically
        by the Dynatrace server.
      operationId: createAlertingProfile
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AlertingProfile'
        description: The JSON body of the request. Contains parameters of the new
          alerting profile.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new alerting profile has been created. The response
            contains the ID of the new alerting profile.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new alerting profile | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /alertingProfiles/validator:
    post:
      operationId: validateCreateAlertingProfile
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AlertingProfile'
        description: The JSON body of the request. Contains parameters of the alerting
          profile to be validated.
      responses:
        "204":
          description: Validated. The submitted alerting profile is valid. Response
            doesn't have a body
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload the `POST /alertingProfiles` request | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /alertingProfiles/{id}/validator:
    post:
      operationId: validateCreateOrUpdateAlertingProfile
      parameters:
      - description: The ID of the alerting profile to be validated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AlertingProfile'
        description: The JSON body of the request. Contains parameters of the alerting
          profile to be validated.
      responses:
        "204":
          description: Validated. The submitted alerting profile is valid. Response
            doesn't have a body
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload the `PUT /alertingProfiles/{id}` request | maturity=EARLY_ADOPTER
      tags:
      - Alerting Profiles
      x-feature-flag: ALERTING_PROFILES_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/applications:
    get:
      operationId: getConfiguration
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of anomaly detection for applications
      tags:
      - Anomaly detection - Applications
    put:
      operationId: updateConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationAnomalyDetectionConfig'
        description: The JSON body of the request, containing parameters of the application
          anomaly detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of anomaly detection for applications
      tags:
      - Anomaly detection - Applications
  /anomalyDetection/applications/validator:
    post:
      operationId: validateConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationAnomalyDetectionConfig'
        description: The JSON body of the request, containing parameters of the application
          anomaly detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of anomaly detection for applications for
        the `PUT /anomalyDetection/applications` request
      tags:
      - Anomaly detection - Applications
  /anomalyDetection/aws:
    get:
      operationId: getAwsAnomalyDetectionConfig
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of anomaly detection for AWS
      tags:
      - Anomaly detection - AWS
    put:
      operationId: updateAwsAnomalyDetectionConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
        description: JSON body of the request, containing parameters of the AWS anomaly
          detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of anomaly detection for AWS
      tags:
      - Anomaly detection - AWS
  /anomalyDetection/aws/validator:
    post:
      operationId: validateAwsAnomalyDetectionConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
        description: JSON body of the request, containing parameters of the AWS anomaly
          detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of anomaly detection for AWS for the `PUT
        /anomalyDetection/aws` request
      tags:
      - Anomaly detection - AWS
  /anomalyDetection/databaseServices:
    get:
      operationId: getConfiguration_1
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DatabaseAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of anomaly detection for database services
      tags:
      - Anomaly detection - Database services
    put:
      operationId: updateConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DatabaseAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the database
          service anomaly detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of anomaly detection for database services
      tags:
      - Anomaly detection - Database services
  /anomalyDetection/databaseServices/validator:
    post:
      operationId: validateConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DatabaseAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the database
          service anomaly detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /anomalyDetection/databaseServices`
        request
      tags:
      - Anomaly detection - Database services
  /anomalyDetection/diskEvents/{id}:
    delete:
      operationId: deleteDiskEventConfig
      parameters:
      - description: The ID of the disk event rule to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Success. The disk event rule has been deleted. Response doesn't
            have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified disk event rule | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
    get:
      operationId: getDiskEventConfig
      parameters:
      - description: The ID of the required disk event rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the properties of the specified disk event rule | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
    put:
      description: If a disk event rule with the specified ID does not exist, a new
        rule is created.
      operationId: updateOrCreateDiskEventConfig
      parameters:
      - description: The ID of the disk event rule to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        description: JSON body of the request. Contains updated disk event rule parameters.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new disk event rule has been created. The ID of
            the new disk event rule is returned.
        "204":
          description: Success. The disk event rule has been updated. Response doesn't
            have a body.
        "403":
          description: Failed. The specified ID is reserved for internal use.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates or creates a disk event rule | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/diskEvents:
    get:
      operationId: listDiskEventConfigs
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all existing disk event rules | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
    post:
      description: The body must not provide an ID. An ID is assigned automatically
        by the Dynatrace server.
      operationId: createDiskEventConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        description: JSON body of the request. Contains parameters of the new disk
          event rule.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new disk event rule has been created. The ID of
            the new disk event rule is returned.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Creates a new disk event rule | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/diskEvents/validator:
    post:
      operationId: validateDiskEventConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        description: JSON body of the request. Contains the disk event rule to be
          validated.
      responses:
        "204":
          description: Validated. The submitted disk event rule is valid. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `POST /anomalyDetection/diskEvents` request
        | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/diskEvents/{id}/validator:
    post:
      operationId: validateDiskEventConfig_1
      parameters:
      - description: The ID of the disk event rule to be validated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        description: JSON body of the request. Contains the disk event rule to be
          validated.
      responses:
        "204":
          description: Validated. The submitted disk event rule is valid. Response
            doesn't have a body.
        "403":
          description: Failed. The specified ID is reserved for internal use.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /anomalyDetection/diskEvents/{id}`
        request | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Disk events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/hosts:
    get:
      operationId: getHostEventsConfig
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of anomaly detection for hosts
      tags:
      - Anomaly detection - Hosts
    put:
      operationId: updateHostEventsConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the host
          anomaly detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of anomaly detection for hosts
      tags:
      - Anomaly detection - Hosts
  /anomalyDetection/hosts/validator:
    post:
      operationId: validateHostEventsConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the host
          anomaly detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of anomaly detection for hosts for the
        `PUT /anomalyDetection/hosts` request
      tags:
      - Anomaly detection - Hosts
  /anomalyDetection/metricEvents/{id}:
    delete:
      description: You can't delete events created by plugins.
      operationId: deleteMetricEvent
      parameters:
      - description: The ID of the metric event to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted. Response doesn't have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified metric event | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
    get:
      operationId: getSingleMetricEventConfig
      parameters:
      - description: The ID of the required metric event.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricEvent'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the properties of the specified metric event | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
    put:
      description: "If the metric event with the specified ID does not exist, a new\
        \ metric event will be created. \n\n You can't update the **type** of the\
        \ metric event."
      operationId: createOrUpdateMetricEvent
      parameters:
      - description: |-
          The ID of the metric event to be updated.

           If you also set the ID in the body, it must match this ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 256
          minLength: 0
          pattern: ^[a-zA-Z0-9\.\-_]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MetricEvent'
        description: The JSON body of the request. Contains updated parameters of
          the metric event.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new metric event has been created. The response
            contains the ID of the newly created metric event
        "204":
          description: Success. The metric event has been updated. The response is
            empty.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing metric event or creates a new one | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/metricEvents/{id}/validator:
    post:
      operationId: validateMetricEvent
      parameters:
      - description: The ID of the metric event to be validated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 256
          minLength: 0
          pattern: ^[a-zA-Z0-9\.\-_]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MetricEvent'
        description: The JSON body of the request. Contains the metric event configuration
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /anomalyDetection/metricEvents/{id}`
        request | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/metricEvents/validator:
    post:
      operationId: validateMetricEvent_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MetricEvent'
        description: The JSON body of the request. Contains the metric event configuration
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `POST /anomalyDetection/metricEvents`
        request | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/metricEvents:
    get:
      operationId: getAllMetricEventConfigs
      parameters:
      - description: "Flag to include metric events with associated entities to the\
          \ response. \n\n Metric events with **entity** filters aren't compatible\
          \ across environments. If set to `false`, metric events with entity filters\
          \ will be removed."
        explode: true
        in: query
        name: includeEntityFilterMetricEvents
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all configured metric events | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
    post:
      description: The response contains the ID of the newly created metric event.
      operationId: createMetricEvent
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MetricEvent'
        description: The JSON body of the request. Contains parameters of the new
          metric event.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The metric event has been created. The response contains
            the ID and name of the newly created metric event
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new metric event | maturity=EARLY_ADOPTER
      tags:
      - Anomaly detection - Metric events
      x-maturity: EARLY_ADOPTER
  /anomalyDetection/services:
    get:
      operationId: getConfiguration_2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the service anomaly detection configuration
      tags:
      - Anomaly detection - Services
    put:
      operationId: updateConfiguration_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the service
          anomaly detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the service anomaly detection configuration
      tags:
      - Anomaly detection - Services
  /anomalyDetection/services/validator:
    post:
      operationId: validateConfiguration_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
        description: The JSON body of the request. Contains parameters of the service
          anomaly detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /anomalyDetection/services` request
      tags:
      - Anomaly detection - Services
  /anomalyDetection/vmware:
    get:
      operationId: getVMwareAnomalyDetectionConfig
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of anomaly detection for VMware
      tags:
      - Anomaly detection - VMware
    put:
      operationId: updateVMwareAnomalyDetectionConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
        description: JSON body of the request, containing parameters of the VMware
          anomaly detection configuration.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of anomaly detection for VMware
      tags:
      - Anomaly detection - VMware
  /anomalyDetection/vmware/validator:
    post:
      operationId: validateVMwareAnomalyDetectionConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
        description: JSON body of the request, containing parameters of the VMware
          anomaly detection configuration.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of anomaly detection for VMware for the
        `PUT /anomalyDetection/vmware` request
      tags:
      - Anomaly detection - VMware
  /applications/web:
    get:
      operationId: listConfigurations
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all existing web applications
      tags:
      - Web application configuration
    post:
      description: The body must not provide an ID as that will be automatically assigned
        by Dynatrace server.
      operationId: createConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing parameters of the new web
          application configuraiton.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The response body contains the ID and name of the
            new web application.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new web application
      tags:
      - Web application configuration
  /applications/web/{id}:
    delete:
      operationId: deleteConfiguration
      parameters:
      - description: The ID of the web application to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success. The application has been deleted. The response does
            not have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified web application
      tags:
      - Web application configuration
    get:
      operationId: getConfiguration_3
      parameters:
      - description: The ID of the requested web application.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of the specified web application
      tags:
      - Web application configuration
    put:
      description: If the application with the specified ID does not exist, a new
        application will be created.
      operationId: createOrUpdateConfiguration
      parameters:
      - description: "The ID of the web application to update. \n\nIf you set the\
          \ ID in the body as well, it must match this ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing updated configuration of
          the web application.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new configuration has been created. The response
            body contains the ID and name of the new web application.
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of the specified web application or creates
        a new one
      tags:
      - Web application configuration
  /applications/web/default:
    get:
      description: "Default application is pre-configured in your Dynatrace environment.\
        \ By default all traffic goes to this application. \n\nAfter you configure\
        \ your own applications, all the traffic, which doesn't fit to any of your\
        \ applications, goes to the default one."
      operationId: getDefaultApplication
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of the default web application
      tags:
      - Web application configuration
    put:
      description: "Default application is pre-configured in your Dynatrace environment.\
        \ By default all traffic goes to this application. \n\nAfter you configure\
        \ your own applications, all the traffic, which doesn't fit to any of your\
        \ applications, goes to the default one."
      operationId: createOrUpdateDefaultConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing the new parameters of the
          default web application.
      responses:
        "204":
          description: Success. Configuration has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the configuration of the default web application
      tags:
      - Web application configuration
  /applications/web/default/validator:
    post:
      operationId: validateDefaultConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing web application configuration
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of the default web application for the
        `PUT /applications/web/default` request
      tags:
      - Web application configuration
  /applications/web/dataPrivacy:
    get:
      operationId: listDataPrivacySettings
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacyList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists data privacy settings of all web applications
      tags:
      - Web application configuration
  /applications/web/{id}/dataPrivacy:
    get:
      operationId: getDataPrivacySettings
      parameters:
      - description: The ID of the web application where you want to check data privacy
          settings.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacy'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the data privacy settings of the specified web application
      tags:
      - Web application configuration
    put:
      operationId: updateDataPrivacySettings
      parameters:
      - description: The ID of the web application, where you want to update data
          privacy settings.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        description: JSON body of the request, containing new data privacy settings.
      responses:
        "204":
          description: Success. Data privacy settings have been updated. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - DataPrivacy: []
      summary: Updates the data privacy settings of the specified web application
      tags:
      - Web application configuration
  /applications/web/default/dataPrivacy:
    get:
      description: "Default application is pre-configured in your Dynatrace environment.\
        \ By default all the traffic goes to this application. \n\nAfter you configure\
        \ your own applications, all the traffic, which doesn't fit to any of your\
        \ applications, goes to the default one."
      operationId: getDefaultApplicationDataPrivacySettings
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacy'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the data privacy settings of the default web application
      tags:
      - Web application configuration
    put:
      description: "Default application is pre-configured in your Dynatrace environment.\
        \ By default all traffic goes to this application. \n\nAfter you configure\
        \ your own applications, all the traffic, which doesn't fit to any of your\
        \ applications, goes to the default one."
      operationId: updateDefaultApplicationDataPrivacySettings
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        description: JSON body of the request, containing new data privacy settings.
      responses:
        "204":
          description: Success. Data privacy settings have been updated. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - DataPrivacy: []
      summary: Updates the data privacy settings of the default web application
      tags:
      - Web application configuration
  /applications/web/{id}/dataPrivacy/validator:
    post:
      operationId: validateDataPrivacySettings
      parameters:
      - description: The ID of the web application, where you want to validate data
          privacy settings.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        description: JSON body of the request, containing new data privacy settings.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - DataPrivacy: []
      summary: Validates data privacy settings for the `PUT /applications/web/{id}/dataPrivacy`
        request
      tags:
      - Web application configuration
  /applications/web/default/dataPrivacy/validator:
    post:
      operationId: validateDefaultApplicationDataPrivacySettings
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        description: JSON body of the request, containing the data privacy settings
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - DataPrivacy: []
      summary: Validates data privacy settings of the default web application for
        the `PUT /applications/web/default/dataPrivacy` request
      tags:
      - Web application configuration
  /applications/web/validator:
    post:
      operationId: validateConfiguration_3
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing the web application configuration
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of the web application for the `POST /applications/web`
        request
      tags:
      - Web application configuration
  /applications/web/{id}/validator:
    post:
      operationId: validateConfiguration_4
      parameters:
      - description: The ID of the web application to validate.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        description: JSON body of the request, containing the web application configuration
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the configuration of the web application for the `PUT /applications/web/{id}`
        request.
      tags:
      - Web application configuration
  /applicationDetectionRules/{id}:
    delete:
      operationId: delete
      parameters:
      - description: The ID of the application detection rule to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted. Response doesn't have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified application detection rule
      tags:
      - Application detection rules
    get:
      operationId: getConfig
      parameters:
      - description: The ID of the required application detection rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDetectionRuleConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the parameters of the specified application detection rule
      tags:
      - Application detection rules
    put:
      description: "If the application detection rule with the specified ID doesn't\
        \ exist, a new application is created and appended to the end of the rule\
        \ list. \n\nIf the **order** parameter is set for an existing rule, the request\
        \ uses this value. Otherwise it keeps the existing order of rules."
      operationId: putConfig
      parameters:
      - description: "The ID of the application detection rule to be updated. \n\n\
          \ If you set the ID in the body as well, it must match this ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionRuleConfig'
        description: "The JSON body of the request. Contains updated parameters of\
          \ the application detection rule. \n\n If the **order** parameter is set,\
          \ the rule is placed to this position."
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. Application detection rule has been created. Response
            contains the ID of the new rule.
        "204":
          description: Success. Application detection rule has been updated. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the specified application detection rule
      tags:
      - Application detection rules
  /applicationDetectionRules:
    get:
      operationId: listConfigurations_1
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all available application detection rules
      tags:
      - Application detection rules
    post:
      description: "The body must not provide an ID. An ID is assigned automatically\
        \ by the Dynatrace server. \n\nYou can only create detection rules for an\
        \ existing application. If you need to create a rule for an application that\
        \ doesn't exist yet, [create an application first](https://www.dynatrace.com/support/help/shortlink/api-config-web-app-post-web-app)\
        \ and then configure detection rules for it."
      operationId: postConfig
      parameters:
      - description: "The position of the new rule: \n\n * `APPEND`: at the bottom\
          \ of the rule list. \n * `PREPEND`: at the top of the rule list. \n\n If\
          \ not set, the `APPEND` is used."
        explode: true
        in: query
        name: position
        required: false
        schema:
          enum:
          - APPEND
          - PREPEND
          type: string
        style: form
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionRuleConfig'
        description: "The JSON body of the request. Contains configuration of the\
          \ new application detection rule. \n\n You must not specify the ID of the\
          \ rule. \n\nThe **order** field is ignored in this request. To enforce a\
          \ particular order use the `PUT /applicationDetectionRules/order` request."
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The application detection rule has been created. Response
            contains the ID of the new rule.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new application detection rule
      tags:
      - Application detection rules
  /applicationDetectionRules/{id}/validator:
    post:
      operationId: validateConfig
      parameters:
      - description: "The ID of the application detection rule to be validated. \n\
          \n If you set the ID in the body as well, it must match this ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionRuleConfig'
        description: The JSON body of the request. Contains the application detection
          rule to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate the payload for the `PUT /applicationDetection/{id}` request
      tags:
      - Application detection rules
  /applicationDetectionRules/validator:
    post:
      operationId: validateConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionRuleConfig'
        description: The JSON body of the request. Contains the application detection
          rule to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `POST /applicationDetection` request
      tags:
      - Application detection rules
  /applicationDetectionRules/order:
    put:
      description: This request reorders the application detection rules according
        to the submitted list of IDs. Application detection rules not present in the
        body of the request will retain their relative ordering but are placed *after*
        all those present in the request.
      operationId: reorderList
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/StubList'
        description: The JSON body of the request. Contains the IDs of the application
          detection rules in the desired order. Any further properties (**name**,
          **description**) are ignored.
      responses:
        "204":
          description: Success. Application detection rules have been reordered. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Reorders the application detection rules
      tags:
      - Application detection rules
  /autoTags/{id}:
    delete:
      operationId: deleteAutoTag
      parameters:
      - description: The ID of the auto-tag to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted. Response doesn't have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified auto-tag
      tags:
      - Automatically applied tags
    get:
      operationId: getSingleAutoTagConfig
      parameters:
      - description: The ID of the required auto-tag.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. \n\n\
          When this flag is set to `false`, conditions with process group references\
          \ are removed. If that results in a rule having no conditions, the entire\
          \ rule is removed."
        explode: true
        in: query
        name: includeProcessGroupReferences
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AutoTag'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the properties of the specified auto-tag
      tags:
      - Automatically applied tags
    put:
      description: If the auto-tag with the specified ID does not exist, a new auto-tag
        is created.
      operationId: createOrUpdateAutoTag
      parameters:
      - description: |-
          The ID of the auto-tag to be updated.

           If you set the ID in the body as well, it must match this ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        description: The JSON body of the request. Contains updated parameters of
          the auto-tag.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The new auto-tag has been created. The response body
            contains the ID of the new auto-tag.
        "204":
          description: Success. The auto-tag has been updated. Response doesn't have
            a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing auto-tag
      tags:
      - Automatically applied tags
  /autoTags/validator:
    post:
      operationId: validateAutoTag
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        description: The JSON body of the request. Contains auto-tag configuration
          to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `POST /autoTags` request
      tags:
      - Automatically applied tags
  /autoTags/{id}/validator:
    post:
      operationId: validateAutoTag_1
      parameters:
      - description: The ID of the auto-tag to be validated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        description: The JSON body of the request. Contains auto-tag configuration
          to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /autoTags/{id}` request
      tags:
      - Automatically applied tags
  /autoTags:
    get:
      operationId: getAllAutoTagConfigs
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all configured auto-tags
      tags:
      - Automatically applied tags
    post:
      description: The body must not provide an ID. An ID is assigned automatically
        by the Dynatrace server.
      operationId: createAutoTag
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        description: The JSON body of the request. Contains parameters of the new
          auto-tag.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The auto-tag has been created. The response body contains
            the ID of the new auto-tag.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new auto-tag
      tags:
      - Automatically applied tags
  /aws/iamExternalId:
    get:
      description: You'll need it for the role-based AWS authentication.
      operationId: readIamExternalIdToken
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AwsIamToken'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the external ID token for setting an IAM role
      tags:
      - AWS credentials configuration
  /aws/credentials:
    get:
      operationId: listAwsCredentials
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all available AWS credentials configurations
      tags:
      - AWS credentials configuration
    post:
      description: The body must not provide an ID. An ID is assigned automatically
        by the Dynatrace server.
      operationId: createAwsCredentialsConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsCredentialsConfig'
        description: The JSON body of the request. Contains parameters of the new
          AWS credentials configuration.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: "Success. The new AWS credentials configuration has been created.\
            \ The response body contains the ID of the configuration. \n\n Check the\
            \ connection status for these credentials after 10 minutes with the `GET\
            \ /aws/credentials/{id}` request."
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new AWS credentials configuration
      tags:
      - AWS credentials configuration
  /aws/credentials/{id}:
    delete:
      operationId: deleteAwsCredentialsConfig
      parameters:
      - description: The ID of AWS credentials configuration to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success. The AWS credentials configuration has been deleted.
            Response doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified AWS credentials configuration
      tags:
      - AWS credentials configuration
    get:
      operationId: readAwsCredentialsConfig
      parameters:
      - description: The ID of the specified AWS credentials configuration.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AwsCredentialsConfig'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Gets the configuration of the specified AWS credentials
      tags:
      - AWS credentials configuration
    put:
      operationId: createOrUpdateAwsCredentialsConfig
      parameters:
      - description: The ID of the AWS credentials configuration to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsCredentialsConfig'
        description: The JSON body of the request. Contains updated parameters of
          the AWS credentials configuration.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: "Success. The new AWS credentials configuration has been created.\
            \ The response body contains the ID of the configuration. \n\n Check the\
            \ connection status for these credentials after 10 minutes with the `GET\
            \ /aws/credentials/{id}` request."
        "204":
          description: "Success. The AWS credentials configuration has been updated.\
            \ Response doesn't have a body. \n\n Check the connection status for these\
            \ credentials after 10 minutes with the `GET /aws/credentials/{id}` request."
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing AWS credentials configuration
      tags:
      - AWS credentials configuration
  /aws/credentials/validator:
    post:
      operationId: validateAwsCredentialsConfig
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsCredentialsConfig'
        description: The JSON body of the request. Contains the AWS credentials configuration
          to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `POST /aws/credentials` request
      tags:
      - AWS credentials configuration
  /aws/credentials/{id}/validator:
    post:
      operationId: validateAwsCredentialsConfig_1
      parameters:
      - description: The ID of the AWS credentials configuration to be validated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsCredentialsConfig'
        description: The JSON body of the request. Contains the AWS credentials configuration
          to be validated.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the payload for the `PUT /aws/credentials/{id}` request
      tags:
      - AWS credentials configuration
  /conditionalNaming/{type}:
    get:
      operationId: getAllNamingRules
      parameters:
      - description: The entity type for which the naming rules should be queried.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all configured naming rules of one type | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
    post:
      description: The body must not provide an ID as IDs are automatically assigned.
        The type of the rule and the type of the resource must match.
      operationId: createNamingRule
      parameters:
      - description: The entity type for which the naming rule should be created.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ConditionalNamingRule'
        description: The JSON body of the request, containing parameters of the new
          naming rule.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The naming rule has been created. The ID of the new
            configuration is returned.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Creates a new naming rule | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /conditionalNaming/{type}/{id}:
    delete:
      operationId: deleteNamingRule
      parameters:
      - description: The entity type from which the naming rule should be deleted.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      - description: The ID of the naming rule to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted. Response does not have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified naming rule | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
    get:
      operationId: getSingleNamingRule
      parameters:
      - description: The entity type for which the naming rule should be queried.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      - description: The ID of the naming rule to query.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ConditionalNamingRule'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists the parameters of the specified naming rule | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
    put:
      operationId: createOrUpdateNamingRule
      parameters:
      - description: The entity type for which the naming rule should be updated.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      - description: The ID of the naming rule to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ConditionalNamingRule'
        description: The JSON body of the request, containing updated parameters of
          the naming rule.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
          description: Success. The naming rule with the specified ID has been created.
            The ID of the new configuration is returned.
        "204":
          description: Success. The naming rule has been updated. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the specified naming rule or creates it | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /conditionalNaming/{type}/validator:
    post:
      operationId: validateNamingRule
      parameters:
      - description: The entity type for which the naming rule should be validated.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ConditionalNamingRule'
        description: The JSON body of the request, containing the naming rule parameters
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validates a new naming rule for the `POST /conditionalNaming/{type}`
        request | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /conditionalNaming/{type}/{id}/validator:
    post:
      operationId: validateNamingRule_1
      parameters:
      - description: The entity type for which the naming rule should be validated.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - processGroup
          type: string
        style: simple
      - description: The ID of the naming rule to validate.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ConditionalNamingRule'
        description: The JSON body of the request, containing the naming rule parameters
          to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validate updates of existing naming rules for the `PUT /conditionalNaming/{type}/{id}`
        request | maturity=EARLY_ADOPTER
      tags:
      - Conditional Naming
      x-feature-flag: CONDITIONAL_NAMING_CONFIG_API
      x-maturity: EARLY_ADOPTER
  /credentials/{id}:
    delete:
      operationId: removeCredentials
      parameters:
      - description: The ID of the credentials set to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success. The credentials set has been deleted. Response doesn't
            have a body.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified credentials set | maturity=EARLY_ADOPTER
      tags:
      - Credential vault
      x-feature-flag: MANAGE_SYNTHETIC_CREDENTIALS_API
      x-maturity: EARLY_ADOPTER
    get:
      description: The credentials set itself (username/certificate and password)
        is not included in the response.
      operationId: getCredentials_1
      parameters:
      - description: The Dynatrace entity ID of the required credentials set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CredentialsResponseElement'
          description: Success. The response contains the metadata of the credentials
            set.
      security:
      - ReadConfigToken: []
      summary: Gets the metadata of the specified credentials set | maturity=EARLY_ADOPTER
      tags:
      - Credential vault
      x-feature-flag: MANAGE_SYNTHETIC_CREDENTIALS_API
      x-maturity: EARLY_ADOPTER
    put:
      operationId: updateCredentials
      parameters:
      - description: The Dynatrace entity ID of the credentials set to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/Credentials'
        description: The JSON body of the request. Contains updated parameters of
          the credentials set.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CredentialsResponseElement'
          description: Success. The new credentials set has been created. The response
            contains the ID of the set.
        "204":
          description: Success. The credentials set has been updated. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Updates the specified credentials set | maturity=EARLY_ADOPTER
      tags:
      - Credential vault
      x-feature-flag: MANAGE_SYNTHETIC_CREDENTIALS_API
      x-maturity: EARLY_ADOPTER
  /credentials:
    get:
      operationId: getCredentials
      parameters:
      - description: Filters the result by the specified credentials type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - CERTIFICATE
          - USERNAME_PASSWORD
          - TOKEN
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CredentialsList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all sets of credentials for synthetic monitors stored in your
        environment | maturity=EARLY_ADOPTER
      tags:
      - Credential vault
      x-feature-flag: MANAGE_SYNTHETIC_CREDENTIALS_API
      x-maturity: EARLY_ADOPTER
    post:
      description: The body must not provide an ID. An ID is assigned automatically
        by the Dynatrace server.
      operationId: addCredentials
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/Credentials'
        description: The JSON body of the request. Contains parameters of the new
          credentials set.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CredentialsResponseElement'
          description: Success. The new credentials set has been created. The response
            contains the ID of the set.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new credentials set | maturity=EARLY_ADOPTER
      tags:
      - Credential vault
      x-feature-flag: MANAGE_SYNTHETIC_CREDENTIALS_API
      x-maturity: EARLY_ADOPTER
  /service/customServices/{technology}/validator:
    post:
      operationId: validateItem
      parameters:
      - description: Technology of the custom service to validate.
        explode: false
        in: path
        name: technology
        required: true
        schema:
          enum:
          - dotNet
          - go
          - java
          - nodeJS
          - php
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: JSON body of the request containing definition of the custom
          service to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validate the new custom service for the `POST /customServices/{technology}`
        request
      tags:
      - Service - Custom services
  /service/customServices/{technology}/{id}/validator:
    post:
      operationId: validateItem_1
      parameters:
      - description: Technology of the custom service to validate.
        explode: false
        in: path
        name: technology
        required: true
        schema:
          enum:
          - dotNet
          - go
          - java
          - nodeJS
          - php
          type: string
        style: simple
      - description: The ID of the custom service to validate.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: JSON body of the request containing definition of the custom
          service to validate.
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response does
            not have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Validate the new custom service for the `PUT /customServices/{technology}/{id}`
        request
      tags:
      - Service - Custom services
  /service/customServices/{technology}/order:
    put:
      description: This request reorders the custom services of the specified technology
        according to the given list of IDs. Custom services not present in the body
        of the request will retain their relative ordering but will be ordered *after*
        all those present in the request.
      operationId: reorderList_1
      parameters:
      - description: Technology of custom services to update.
        explode: false
        in: path
        name: technology
        required: true
        schema:
          enum:
          - dotNet
          - go
          - java
          - nodeJS
          - php
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/StubList'
        description: JSON body of the request containing the IDs of the custom services
          in the desired order. Any further properties (*name*, *description*) will
          be ignored.
      responses:
        "204":
          description: Success. Custom services have been updated. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid
      security:
      - WriteConfigToken: []
      summary: Reorders the custom services of the specified technology
      tags:
      - Service - Custom services
  /service/customServices/{technology}:
    get:
      operationId: getList
      parameters:
      - description: Technology of the required custom services.
        explode: false
        in: path
        name: technology
        required: true
        schema:
          enum:
          - dotNet
          - go
          - java
          - nodeJS
          - php
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StubList'
          description: Success
      security:
      - ReadConfigToken: []
      summary: Lists all custom services of the specified technology
      tags:
      - Service - Custom services
    post:
      description: In the body of the request, neither custom service nor its rules
        can have the ID. All IDs will be generated automatically by Dynatrace.
      operationId: post
      parameters:
      - description: Technology of the new custom service.
        explode: false
        in: path
        name: technology
        required: true
        schema:
          enum:
          - dotNet
          - go
          - java
          - nodeJS
          - php
          type: string
        style: simple
      - description: Order of the new custom service. Set to `PREPEND` to prepend
          it to the list, `APPEND` to append it. Defaults to `APPEND`.
        explode: true
        in: query
        name: position
        required: false
        schema:
          default: APPEND
          enum:
          - APPEND
          - PREPEND
          type: string
        style: form
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: "JSON body of the request containing definition of the new custom\
          \ service. \n\nYou must not specify the IDs for the custom service or any\
          \ of its rules. The *order* field is not allowed either."
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityShortRepresentation'
[...]
